<configuration>

    <!-- Logging :: Terminal -->
    <appender name="Terminal" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="Terminal" />
    </root>

    <!-- Logback profile for spring framework -->
    <logger name="org.springframework" level="WARN" />

    <!-- Logback profiles for cz.tul -->
    <springProfile name="devel">
        <logger name="cz.tul" level="DEBUG" />
    </springProfile>
    <springProfile name="prod">
        <logger name="cz.tul" level="INFO" />
    </springProfile>

</configuration>
