<configuration>

    <!-- Logging :: Terminal -->
    <appender name="Terminal" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logging :: File -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log-%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">

        <appender-ref ref="Terminal" />

        <springProfile name="prod">
            <appender-ref ref="File" />
        </springProfile>

    </root>

    <!-- Logback profile for spring framework -->
    <logger name="org.springframework" level="WARN" />

    <!-- Logback profile for HikariCP -->
    <logger name="com.zaxxer.hikari" level="WARN" />

    <!-- Logback profiles for cz.tul -->
    <springProfile name="test">
        <logger name="cz.tul" level="DEBUG" />
    </springProfile>
    <springProfile name="devel">
        <logger name="cz.tul" level="DEBUG" />
    </springProfile>
    <springProfile name="prod">
        <logger name="cz.tul" level="INFO" />
    </springProfile>

</configuration>
