<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div th:fragment="weatherAll">
    <table>
        <thead>
        <tr>
            <th>City</th>
            <th>Datestamp</th>
            <th>Temperature</th>
            <th>Feelslike</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${weathers}">
            <td th:text="${item.weatherKey.city}">City</td>
            <td class="conv-datestamp" th:text="${item.weatherKey.timestamp}">Datestamp</td>
            <td class="conv-temperature" th:text="${item.temperature}">Temperature</td>
            <td class="conv-temperature" th:text="${item.feelsLike}">Feelslike</td>
            <td th:text="${item.pressure}">Pressure</td>
            <td th:text="${item.humidity}">Humidity</td>
            <td th:text="${item.description}">Description</td>
            <td><span
                th:hx-delete="@{/api/weathers/{sid}/{cin}/{tst}(
                sid=${item.weatherKey.city.cityKey.state.stateId},
                cin=${item.weatherKey.city.cityKey.name},
                tst=${item.weatherKey.timestamp}
                )}"
                hx-confirm="Are you sure you want to delete this weather report?"
                hx-target="#response-reports-ok"
                hx-target-error="#response-reports-err"
                hx-on::before-request="clearResponseMessages('report-delete');"
                hx-on::after-request="refreshReportsList();"
            >
                Delete
            </span></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="weatherSummary">
    <br>
    <table>
        <thead>
        <tr>
            <th>CC</th>
            <th>City name</th>
            <th>No. of reports</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${weatherSummary}">
            <td th:text="${item.stateId}"></td>
            <td th:text="${item.cityName}"></td>
            <td th:text="${item.weatherCount}"></td>
            <td><span
                    th:hx-delete="@{/api/weathers/{sid}/{cin}(sid=${item.stateId},cin=${item.cityName})}"
                    hx-confirm="This will delete ALL weather reports for selected city.&#10;&#10;Are you sure?"
                    hx-target="#response-weather-ok"
                    hx-target-error="#response-weather-err"
                    hx-on::before-request="clearResponseMessages('weather-summary-delete');"
                    hx-on::after-request="refreshWeatherList();"
            >
                Delete
            </span></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="weatherAverages">
    <br>
    <p th:if="${status == 0}">No data.</p>
    <div th:unless="${status == 0}">
        <p th:text="'Evaluating last ' + ${data.nEvaluatedDays} + ' downloaded days for \'' + ${data.stateId} + ', ' + ${data.cityName} + '\':'"></p>

        <table>
            <thead>
            <tr>
                <th></th>
                <th>From</th>
                <th>To</th>
                <th>Temperature</th>
                <th>Feelslike</th>
                <th>Pressure</th>
                <th>Humidity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Last day</b></td>
                <td>—</td>
                <td class="conv-datestamp" th:text="${data.timestampLast}"></td>
                <td class="conv-temperature" th:text="${data.lastTemperature}"></td>
                <td class="conv-temperature" th:text="${data.lastFeelsLike}"></td>
                <td class="conv-avg" th:text="${data.lastPressure}"></td>
                <td class="conv-avg" th:text="${data.lastHumidity}"></td>
            </tr>
            <tr th:if="${status >= 2}">
                <td><b>Last 2–7 days</b></td>
                <td class="conv-datestamp" th:text="${data.timestamp1WeekStart}"></td>
                <td class="conv-datestamp" th:text="${data.timestampLast}"></td>
                <td class="conv-temperature" th:text="${data.avg1WeekTemperature}"></td>
                <td class="conv-temperature" th:text="${data.avg1WeekFeelsLike}"></td>
                <td class="conv-avg" th:text="${data.avg1WeekPressure}"></td>
                <td class="conv-avg" th:text="${data.avg1WeekHumidity}"></td>
            </tr>
            <tr th:if="${status == 3}">
                <td><b>Last 8–14 days</b></td>
                <td class="conv-datestamp" th:text="${data.timestamp2WeekStart}"></td>
                <td class="conv-datestamp" th:text="${data.timestampLast}"></td>
                <td class="conv-temperature" th:text="${data.avg2WeekTemperature}"></td>
                <td class="conv-temperature" th:text="${data.avg2WeekFeelsLike}"></td>
                <td class="conv-avg" th:text="${data.avg2WeekPressure}"></td>
                <td class="conv-avg" th:text="${data.avg2WeekHumidity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>
