<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="weatherAll">
    <br>
    <table>
        <thead>
        <tr>
            <th>City</th>
            <th>Datestamp</th>
            <th>Temperature</th>
            <th>Feelslike</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${weathers}">
            <td th:text="${item.weatherKey.city}">City</td>
            <td th:text="${item.weatherKey.timestamp}">Datestamp</td>
            <td th:text="${item.temperature}">Temperature</td>
            <td th:text="${item.feelsLike}">Feelslike</td>
            <td th:text="${item.pressure}">Pressure</td>
            <td th:text="${item.humidity}">Humidity</td>
            <td th:text="${item.description}">Description</td>
            <td>Delete</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="weatherSummary">
    <br>
    <table>
        <thead>
        <tr>
            <th>CC</th>
            <th>City name</th>
            <th>No. of reports</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${weatherSummary}">
            <td th:text="${item.stateId}"></td>
            <td th:text="${item.cityName}"></td>
            <td th:text="${item.weatherCount}"></td>
            <td><span
                    th:hx-delete="@{/api/weathers/{sid}/{cin}(sid=${item.stateId},cin=${item.cityName})}"
                    hx-confirm="This will delete ALL weather reports for selected city.&#10;&#10;Are you sure?"
                    hx-target="#response-weather-ok"
                    hx-target-error="#response-weather-err"
                    hx-on::before-request="clearResponseMessages('weather-summary-delete');"
                    hx-on::after-request="refreshWeatherList();"
            >
                Delete
            </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
