<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>
<body>

<div th:fragment="citiesList">
    <br>
    <table>
        <thead>
        <tr>
            <th>CC</th>
            <th>City name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city : ${citiesList}">
            <td th:text="${city.cityKey.state.stateId}"></td>
            <td th:text="${city.cityKey.name}"></td>
            <td><span
                    th:hx-delete="@{/api/cities/{sid}/{cin}(sid=${city.cityKey.state.stateId},cin=${city.cityKey.name})}"
                    hx-confirm="This will delete the city and ALL of its weather reports.&#10;&#10;Are you sure?"
                    hx-target="#response-city-ok"
                    hx-target-error="#response-city-err"
                    hx-on::before-request="clearResponseMessages();"
                    hx-on::after-request="refreshCityList();"
            >
                Delete
            </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>