<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css.css}" rel="stylesheet"/>
    <title>😏 Weather</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.2"></script>
    <script th:src="@{/scripts/js.js}"></script>
</head>

<body hx-ext="response-targets">

<h1>Advanced <s>programming</s> forecasting for Java platform</h1>
<hr>
<main>
    <!-- Countries -->
    <section id="section-country">
        <h2>Countries</h2>
        <form hx-put="/api/states"
              hx-ext="json-enc"
              hx-target="#response-country-ok"
              hx-target-error="#response-country-err"
              hx-on::before-request="clearResponseMessages();"
              hx-on::after-request="this.reset();refreshCountryList();"
        >
            <fieldset>
                <legend>Add country</legend>
                <label for="country-add-code">Country code:</label>
                <input type="text" id="country-add-code" name="stateId" maxlength="2"
                       oninput="this.value = this.value.toUpperCase();" required><br><br>
                <label for="country-add-name">Country name:</label>
                <input type="text" id="country-add-name" name="name" required><br><br>
                <button type="submit">Create</button>
            </fieldset>
        </form>
        <br>
        <div id="response-country-ok" class="response-ok">&nbsp;</div>
        <div id="response-country-err" class="response-err">&nbsp;</div>
        <br>
        <button hx-delete="/api/states"
                hx-target="#response-country-ok"
                hx-confirm="This will delete EVERYTHING due to cascade.&#10;&#10;Are you sure?"
                hx-on::before-request="clearResponseMessages();"
                hx-on::after-request="refreshCountryList();"
        >
            DELETE ALL
        </button>
        <button
            hx-put="/api/states/testing"
            hx-target="#response-country-ok"
            hx-on::before-request="clearResponseMessages();"
            hx-on::after-request="refreshCountryList();"
        >
            Add testing data
        </button>
        <div id="list-country" hx-get="/web/states" hx-swap="innerHTML" hx-trigger="refreshCountryEvent"></div>
    </section>
    <!-- Cities -->
    <section id="section-city">
        <h2>Cities</h2>
        <form>
            <fieldset>
                <legend>Add city</legend>
                <label for="city-add-code">Country code:</label>
                <input type="text" id="city-add-code" maxlength="2"
                       oninput="this.value = this.value.toUpperCase();"><br><br>
                <label for="city-add-name">&nbsp;&nbsp;&nbsp;City name:</label>
                <input type="text" id="city-add-name"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </section>
    <!-- Weather reports -->
    <section id="section-weather">
        <h2>Weather reports</h2>
        <form>
            <fieldset>
                <legend>Add weather report</legend>
                <label for="weather-add-code">City code:</label>
                <input type="text" id="weather-add-code"><br><br>
                <label for="weather-add-timestamp">Timestamp:</label>
                <input type="text" id="weather-add-timestamp"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </section>
</main>

</body>
</html>
