<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather 😏</title>
</head>
<body>

<h2>Countries</h2>

<form>
    <fieldset>
        <legend>Add country</legend>
        <label for="state-add-code">Country code:</label>
        <input type="text" id="state-add-code"><br><br>
        <label for="state-add-name">Country name:</label>
        <input type="text" id="state-add-name"><br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

</body>
</html>
