<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css.css}" rel="stylesheet"/>
    <title>😏 Weather</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>

<h1>Advanced <s>programming</s> forecasting for Java platform</h1>
<hr>
<nav>
    <a href="./">Dashboard</a>
    <a>Reports</a>
    <a href="./averages">Averages</a>
</nav>
<hr>
<main>
    <div hx-get="/web/weathers/all" hx-swap="innerHTML" hx-trigger="load"></div>
</main>

</body>
</html>