<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>States</title>
</head>
<body>

<div th:fragment="statesList">
    <br>
    <table>
        <thead>
        <tr>
            <th>CC</th>
            <th>Country name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="state : ${statesList}">
            <td th:text="${state.stateId}"></td>
            <td th:text="${state.name}"></td>
            <td>
                <span
                        th:data-stateid="${state.stateId}"
                        th:data-name="${state.name}"
                        onclick="showModal('country', this.getAttribute('data-stateid'), this.getAttribute('data-name'));"
                >
                    Edit
                </span>|
                <span
                        th:hx-delete="@{/api/states/{id}(id=${state.stateId})}"
                        hx-confirm="This will delete the country and ALL of its cities and weather reports.&#10;&#10;Are you sure?"
                        hx-target="#response-country-ok"
                        hx-target-error="#response-country-err"
                        hx-on::before-request="clearResponseMessages('country-delete');"
                        hx-on::after-request="refreshCountryList();refreshCityList();refreshWeatherList();"
                >
                    Delete
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
