:root {
    --color-ok: #7a882e;
    --color-err: #743e4c;
    --color-click: #204e8a;
}

body {
    width: 90%;
    margin: 0 auto;
    font-family: Consolas,monaco,monospace;
}

main {
    display: flex;
}

fieldset {
    border-left: none;
    border-right: none;
}

#section-country {
    width: 25%;
}

#section-city {
    width: 25%;
}

#section-weather {
    width: 50%;
}

.response-ok {
    color: var(--color-ok);
}

.response-err {
    color: var(--color-err);
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th, table td {
    text-align: left;
    padding: 0.4em;
}

table td span {
    color: var(--color-click);
}

table td span:hover {
    text-decoration: underline;
    cursor: pointer;
}
