:root {
    --color-ok: #7a882e;
    --color-err: #743e4c;
    --color-click: #204e8a;
    --color-zebra: #f2f2f2;
}

body {
    width: 90%;
    margin: 0 auto;
    font-family: Consolas, monaco, monospace;
}

main {
    display: flex;
    justify-content: space-evenly;
}

fieldset {
    border-left: none;
    border-right: none;
}

#section-country {
    width: 30%;
}

#section-city {
    width: 30%;
}

#section-weather {
    width: 30%;
}

.response-ok {
    color: var(--color-ok);
}

.response-err {
    color: var(--color-err);
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table thead {
    border-bottom: 2px solid var(--color-zebra);
}

table tr:nth-child(even) {
    background-color: var(--color-zebra);
}

table th, table td {
    text-align: left;
    padding: 0.4em;
}

table td span {
    color: var(--color-click);
}

table td span:hover {
    text-decoration: underline;
    cursor: pointer;
}

input:read-only {
    cursor: not-allowed;
}

#loading-indicator {
    color: red;
    font-weight: bold;
}

.htmx-indicator {
    opacity: 0;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-request.htmx-indicator {
    opacity: 1;
}
